---
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: https://cvis2021.weebly.com/uploads/5/6/3/0/56308869/background-images/236520036.jpg
  actions:

    - label: "Registration"
      url: /registration
    - label: "Paper Submission"
      url: /call-for-papers
    - label: "Technical Program"
      url: /program
excerpt: 
    11th Annual Conference on Vision and Intelligent Systems <br>
    *Date TBA*, December 2025
    
intro:
  - excerpt: 
      There has been an astronomical rise in the use of artificial intelligence,
      computer vision, and imaging in modern society, with artificial intelligence, computer
      vision, and imaging technologies now integrated in many diverse aspects of our daily
      lives, and will continue to change the way we see, understand, and interact with the
      world in the future.  The design of novel imaging instruments and the development of
      innovative intelligent algorithms for processing and understanding the information
      captured all around us, as well as make predictions and inferences based on that data
      are crucial in further accelerating the prevalence of artificial intelligence,
      computer vision, and imaging as  enabling technologies in modern life, and as such
      there has been an increasing trend towards the design and development of integrated,
      intelligent systems that meet these needs.
      

      We cordially invite both academic and industrial research scientists to attend
      the 11th Annual Conference on Vision and Intelligent Systems (CVIS 2025), where
      the goal is to bring together both academia and industry to share their joint
      expertise to promote the advancement and application of artificial intelligence,
      computer vision, and imaging technologies in various areas of academic and industrial
      interests.
      
     
      Accepted papers, if the authors choose to, will be published in a special
      issue of Journal of Computational Vision and Imaging Systems, the official journal
      of the KWVIS Society.
      
      
      Registration for the CVIS 2025 is free of charge.

      **For any questions, please send an email to <a href="mailto:uw.viplab@gmail.com">uw.viplab@gmail.com</a>**
     

      <!--- Technical Program is available  [here](/program).-->


        
important_dates:
  - title: "Important Dates"
    table: "important_dates"
sponsors-plat:
- url: https://www.tritoncanada.ca/
  image_path: assets/images/tritonverify.png
  alt: "TritonVerify"
  title: "TritonVerify"
- url: https://www.sixtydegreecapital.com/
  image_path: assets/images/60deg.webp
  alt: "Sixtydegreecapital"
  title: "Sixtydegreecapital"
- url: https://rootly.com/
  image_path: assets/images/rootly.png
  alt: "Rootly"
  title: "Rootly"
sponsors-gold:
- url: https://miovision.com/
  image_path: assets/images/miovision.jpeg
  alt: "Miovision"
  title: "Miovision"
- url: https://uwaterloo.ca/graduate-studies-endowment-fund/about
  image_path: assets/images/GSEF.png
  alt: "GSEF"
  title: "GSEF"
sponsors-silver:
- url: https://www.sportlogiq.com/
  image_path: assets/images/sportlogiq.png
  alt: "SportLogic"
  title: "SportLogic"
---

<h1 style="text-align: center"> Introduction </h1>
{% include feature_row_text id="intro" %}

{% include feature_row_text id="important_dates" %}

<h1 style="text-align: center"> Conference Chairs </h1>
<div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px; text-align: center;">

  <div>
    <img src="assets/images/fernandopena.jpg" alt="Fernando Cantu" style="border-radius: 50%; width: 150px; height: 150px;">
    <h4>Fernando Jose Pena Cantu</h4>
    <p><i>University of Waterloo</i></p>
  </div>
  
</div>

{% include feature_row_text id="sponsors" %}

<div class="feature__wrapper">
  <div class="feature__item--center" style="text-align: left">
    <div class="archive__item-body">
      <h1 style="text-align: center"> Sponsors </h1>
      <p>Interested sponsors are encouraged to contact <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
      <!-- <h2 class="archive__item-title">Platinum</h2>

      <div class="archive__item-excerpt" style="width: 500px;">
        {% include gallery id="sponsors-plat" class="align-center"%}
      </div>

      <h2 class="archive__item-title">Gold</h2>

      <div class="archive__item-excerpt" style="width: 500px;">
        {% include gallery id="sponsors-gold"  class=archive__item-body %}
      </div>

      <h2 class="archive__item-title">Silver</h2>

      <div class="archive__item-excerpt" style="width: 50%;">
        {% include gallery id="sponsors-silver"  class=archive__item-body  %}
      </div> -->
    </div>
  </div>
</div>